

.u-body{
  background: url("../assets/gif/f.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}



.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 866px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1164px;
  margin: -16px -12px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 882px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 110px 0 30px;
}

.u-section-1 .u-shape-1 {
  width: 105px;
  height: 105px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 45px 118px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  font-weight: 300;
  margin: 30px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 882px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 270px;
}

.u-section-1 .u-image-1 {
  height: 452px;
  width: 494px;
  margin: 130px 38px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1222px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 712px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 81px;
  }

  .u-section-1 .u-shape-1 {
    width: 85px;
    height: 86px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 784px;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 50%;
    height: 402px;
    width: 439px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1055px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 601px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 308px;
    width: 336px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1550px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 516px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-shape-1 {
    height: 105px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 876px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1110px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -21px;
    margin-bottom: -21px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 602px;
  }

  .u-section-1 .u-shape-1 {
    width: 72px;
    height: 89px;
    margin-right: 248px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 509px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 15px;
  }

  .u-section-1 .u-image-1 {
    height: 244px;
    width: 267px;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 666px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-shadow: 0 0 8px rgba(128,128,128,1);
  width: 417px;
  margin: 0 auto;
}

.u-section-2 .u-image-1 {
  width: 1052px;
  height: 497px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  width: 417px;
  font-weight: 700;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-2 .u-text-1 {
    animation-duration: 1000ms;
    font-size: 3rem;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 444px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 340px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 255px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 161px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    font-size: 1.875rem;
    margin: 79px 0 -125px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 563px;
}

.u-section-3 .u-slider-1 {
  margin-top: 63px;
  margin-bottom: 60px;
  min-height: 438px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 130px;
}

.u-section-3 .u-image-1 {
  width: 292px;
  height: 292px;
  background-image: url("../assets/Photos/Sanyukta.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-1 {
  margin: -268px 0 0 347px;
}

.u-section-3 .u-text-2 {
  line-height: 2;
  font-size: 1.5rem;
  margin: 20px 0 0 347px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 130px;
}

.u-section-3 .u-image-2 {
  width: 292px;
  height: 292px;
  background-image: url("../assets/Photos/Isha nadkar.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: -268px 0 0 348px;
}

.u-section-3 .u-text-4 {
  line-height: 2;
  font-size: 1.5rem;
  margin: 20px 0 0 348px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  background-image: none;
  margin: 20px auto 0 348px;
}

.u-section-3 .u-carousel-item-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-3 .u-carousel-control-1 {
  width: 65px;
  height: 65px;
  background-image: none;
}

.u-section-3 .u-carousel-control-2 {
  width: 65px;
  height: 65px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-slider-1 {
    height: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 312px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 312px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 312px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 312px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 229px;
    margin-bottom: 19px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 85px;
    padding-right: 85px;
  }

  .u-section-3 .u-image-1 {
    width: 333px;
    height: 333px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -317px;
    margin-left: 270px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 270px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 85px;
    padding-right: 85px;
  }

  .u-section-3 .u-image-2 {
    width: 326px;
    height: 326px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -317px;
    margin-right: 63px;
    margin-left: 270px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 270px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 141px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-3 .u-slider-1 {
    margin-top: 60px;
    min-height: 649px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: 24px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: 25px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 754px;
    width: 351px;
    margin: 0 -11px 40px 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 25px;
    padding-right: 8px;
    padding-left: 8px;
  }

  .u-section-3 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 170px;
  }

  .u-section-3 .u-image-2 {
    width: 215px;
    height: 215px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 0;
    margin-right: 101px;
    margin-left: 91px;
  }
}